<!-- app.component.html -->
<div class="homepage">
  <header>
    <h1>Welcome to Cab Booking Application</h1>
    <div class="dropdown">
      <button class="login-btn">Login/Register</button>
      <div class="dropdown-content">
        <a routerLink="/customer-login" routerLinkActive="active">Customer Login/Register</a>
        <a routerLink="/driver-login" routerLinkActive="active">Driver Login/Register</a>
        <a routerLink="/admin-login" routerLinkActive="active">Admin Login</a>
      </div>
    </div>
  </header>
</div>
